<div class="small-12 columns text-center">
  <h1 class="title">Thank you!</h1>
</div>

<div class="small-6 small-centered columns">
  <div class="text-center">
    <%= link_to 'Home', root_path, class: "button round", id: 'home' %>
  </div>
</div>

<div class="small-12 columns">
  <div class="text-center">
    <ul>
      <li>
        <div class="row"><% @comments.each do |comment| %>
          <div class="small-12 small-centered columns">
            <h5 class="text-center"> <%= comment.comment %> </h5>
            <h6 class= "text-right"> <%= "From. #{comment.first_name} #{comment.last_name}" %> </h6>
          </div>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
