
$baby-blue: #5CACC4;
$baby-green: #8CD19D;
$baby-yellow-green: #CEE879;
$baby-orange: #FCB653;
$baby-red: #FF5254;
$green: #3D7B80;
$purple: #A46583;
$gray: #6A6B5F;

li h5 {
  color: $gray;
  font-family: 'Gorditas', cursive;
    }

li h6 {
  color: $gray;
  font-family: 'Gorditas', cursive;
    }

.flash {
  color: $baby-red;
}

.title {
  color: $baby-orange;
}

.form {
  color: $baby-blue;
}

.edit {
  color: $baby-orange;
}
