
$baby-blue: #5CACC4;
$baby-green: #8CD19D;
$baby-yellow-green: #CEE879;
$baby-orange: #FCB653;
$baby-red: #FF5254;

li h5 {
  color: black;
  font-family: 'Convergence', sans-serif;}

li h6 {
  color: black;
  font-family: 'Convergence', sans-serif;}

.flash {
  color: $baby-red;
}

.title {
  color: $baby-orange;
}

.form {
  color: $baby-blue;
}

.edit {
  color: $baby-orange;
}
